body{

  background-image: url("../media/background-image.jpg"); */

}

h1{
  font-size:100px;
  font-weight: normal;
  color: Black;
  text-align: center;
  font-family:"Courier New", Courier, monospace;
}

h2{
  font-size:32px;
  font-weight:bold;
  color:red;
  text-align: center;
  font-family:"Courier New", Courier, monospace;
}

iframe{
  position: center;
}
