body{


  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size:100px;
  font-weight: normal;
  color: Black;
  text-align: center;

}

h2{
  font-size:32px;
  font-weight:bold;
  color:red;
  text-align: center;

}

.header {

  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid grey;

}

.header_container {
  display: inline-flex;
  width: 2rem;
  align-items: center;
  margin-left: 1.5rem;
}

.header-img-logo {
  display: flex;
}

.header-name {
  display: flex;
}

.header-container-menu {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5rem;
}

.header-menu {
  margin: .5rem;
}

a{
  text-decoration: none;
}
